requirement for project

frames work:

 | Selenium
 | My script (CreateAFileExcel)
 | string

especific methods from frames works
 
 from   webdriver_manager.chrome          import ChromeDriverManager
 from   selenium.webdriver.chrome.service import Service
 from   selenium.webdriver.common.by      import By
 from   selenium.webdriver.common.keys    import Keys
